/.emacs.desktop
/.lsp-session-v1
/auto-save-list/
/elpa/
/elpaca/
/.emacs.desktop.lock
/.cache/
/.last-package-update-day
/custom.el
/eshell/
/projectile-bookmarks.eld
/recentf
/site-lisp/
/straight/
/transient/
/projectile.cache
/network-security.data
/server/
